<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Consulta i tutorial</h2>
                <hr class="light">
                <br> <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=HFFlQMUDLZo5BJc9&amp;list=PLzECacdS-PGEs31Neh9poEc5b8rOOKbT6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p class="text-faded">Consulta i 7 video introduttivi sulla creazione e utilizzo di ambienti interattivi</p>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=DgRYd6pKObZ08ASm&amp;list=PLzECacdS-PGHqpLhnFx7OAG9nnDMDv4qh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p class="text-faded">Consulta i 5 video sul processo di valutazione</p>
                <a href="#" class="btn btn-default btn-xl">PROSEGUI</a>
            </div>
        </div>
    </div>
</section>
