<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>RISORSE UTILI</h2>
<br><br>
                <h3>SOFTWARE</h3>
                <br>
                MAKEHUMAN <a href="https://static.makehumancommunity.org/makehuman/releases.html">www.makehumancommunity.org</a>
                <br>
                MIXAMO <a href="https://www.mixamo.com">www.mixamo.com</a>
                <br>
                BLENDER <a href="https://www.blender.org/">www.blender.org</a>
                <br>
                GRAVITY SKETCH <a href="https://gravitysketch.com/">gravitysketch.com</a>
                <br>
                LANDING PAD <a href="https://landingpad.me/">landingpad.me</a>
                <br>
                <br>

                <h3>OGGETTI</h3>
                <br>
                TURBOSQUID <a href="https://www.turbosquid.com/">www.turbosquid.com</a>
                <br>
                THINGIVERSE <a href="https://www.thingiverse.com">www.thingiverse.com</a>
                <br>
                Sketchfab <a href="https://sketchfab.com/">sketchfab.com</a>
                <br>
                QUIXEL <a href="https://quixel.com/">quixel.com</a>
<br><br>
                <h3>TEXTURES</h3>
                <br>
                FREE3D <a href="https://free3d.com">free3d.com</a>
                <br>
                POLIIGON <a href="https://www.poliigon.com/textures/free">www.poliigon.com</a>
                <br>
                TEXTURELABS <a href="https://texturelabs.org/">texturelabs.org</a>
                <br>
                

            
               
        </div>
    </div>
</section>
