<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>RISORSE UTILI</h2>
<br><br>
                <h3>SOFTWARE</h3>
                <br>
                MAKEHUMAN https://static.makehumancommunity.org/makehuman/releases.html
                <br>
                MIXAMO https://www.mixamo.com
                <br>
                BLENDER https://www.blender.org/
                <br>
                GRAVITY SKETCH https://gravitysketch.com/
                <br>
                LANDING PAD https://landingpad.me/
                <br>
                <br>

                <h3>OGGETTI</h3>
                <br>
                TURBOSQUID https://www.turbosquid.com/
                <br>
                THINGIVERSE https://www.thingiverse.com
                <br>
                Sketchfab https://sketchfab.com/
                <br>
                QUIXEL https://quixel.com/
<br><br>
                <h3>TEXTURES</h3>
                <br>
                FREE3D https://free3d.com
                <br>
                POLIIGON https://www.poliigon.com/textures/free
                <br>
                TEXTURELABS https://texturelabs.org/
                <br>
                

            
               
        </div>
    </div>
</section>
